<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Upload áudio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-XXXXX" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <header>
      <div class="menu">
        <div class="logo">
          <h1>MeetingSum</h1>
        </div>
      </div>
    </header>
    
    <div class="content">
      <div class="container">
        <div class="page-title">
          <h1>Resumo de reuniões</h1>
          <h4>Transforme suas reuniões em resumos eficientes</h2>
        </div>
        <div class="upload-form">
          <form id="upload-form" action="/" method="POST" enctype="multipart/form-data">
            <div class="form-group">
              <label for="audio" class="file-upload">
                <i class="fa-solid fa-magnifying-glass"></i> Escolher arquivo
                <input type="file" id="audio" name="audio" accept="audio/*">
              </label>    
              <span id="file-name" style="display: flow-root;"></span>
              <div id="warn">
                <p>
                  Carregue seu arquivo mp3 aqui.
                </p>
              </div>    
            </div>
            <button id="submit-button" type="submit" class="btn btn-primary">Enviar</button>    
            <div id="loading" class="loading"></div>

          </form>
        </div>
          <div class="blocks">
            <div class="block">
              <p class="icon">
                <img src="./../static/img/pc.jpg" width="42">
              </p>
              <h3 class="title">Suporta todos os dispositivos</h3>
              <p>
                A MeetingSum é uma ferramenta baseada no browser o que quer dizer que não tem de descarregar nada para o seu dispositivo visto que funciona online.
              </p>
            </div>

            <div class="block">
              <p class="icon">
                <img src="./../static/img/fast.jpg" width="50">
              </p>
              <h3 class="title">Rápido e fácil</h3>
              <p>
                Apenas arraste e solte seus arquivos na página, escolha um formato de saída e clique no botão "Enviar". Aguarde um pouco para que o processo seja concluído.
            </div>

            <div class="block">
              <p class="icon">
                <img src="./../static/img/cloud.jpg" width="42">
              </p>
              <h3 class="title">Na nuvem</h3>
              <p>
                Todas as conversões ocorrem na nuvem e não consumirão nenhum recurso do seu computador.             
              </p>
            </div>

            <div class="block">
              <p class="icon">
                <img src="./../static/img/verified.jpg" width="40">
              </p>
              <h3 class="title">Segurança garantida</h3>
              <p>
                Excluímos os arquivos carregados instantaneamente, e os convertidos, após 24 horas. Ninguém tem acesso aos seus arquivos, e a privacidade é 100% garantida. Leia mais sobre segurança.
              </p>
            </div>

            <div class="block">
              <p class="icon">
                <img src="./../static/img/settings.jpg" width="40">
              </p>
              <h3 class="title">Configurações personalizadas</h3>
              <p>
                A maioria dos tipos de conversão oferece suporte a opções avançadas. Por exemplo, com um conversor de vídeo, você pode escolher qualidade, proporção de tela, codec e outras configurações, girar e virar.
              </p>
            </div>

            <div class="block">
              <p class="icon">
                <img src="./../static/img/online.jpg" width="38">
              </p>
              <h3 class="title">Completamente online</h3>
              <p>
                A MeetingSum é uma ferramenta baseada no browser o que quer dizer que não tem de descarregar nada para o seu dispositivo visto que funciona online.
              </p>
            </div>
        </div>
      </div>
    </div>
    
    <footer>
      <div class="container">
        <div class="footer-info">
          <p>Todos os direitos reservados © 2023 MeetingSum</p>
        </div>
      </div>
    </footer>
    
    <script>
      const form = document.getElementById('upload-form');
      const submitButton = document.getElementById('submit-button');
      const loading = document.getElementById('loading');
      const fileName = document.getElementById('file-name');
      const audioInput = document.getElementById('audio');

      audioInput.addEventListener('change', () => {
        fileName.textContent = audioInput.files[0].name;
      });

      form.addEventListener('submit', () => {
        loading.style.display = 'block';
        submitButton.disabled = true;
      });
    </script>
    <script src="https://kit.fontawesome.com/65f22fe718.js" crossorigin="anonymous"></script>
  </body>
</html>
