<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Resultado da transcrição de áudio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <header>
      <h1 class="mt-5 mb-4">figo.ia</h1>
    </header>
    <div class="container">
      <div class="row justify-content-center mt-5">
        <div class="col-md-8">
          <div class = "buttons">
            <a href="/" class="btn btn-primary">Voltar</a>
            <a href="data:text/plain;charset=utf-8,{{ summary }}" download="resultado.txt" class="btn btn-primary">Baixar</a>
          </div>
          <div class="form-group">
            <textarea class="form-control-mensagem" name="mensagem" id="mensagem" rows="50" readonly>{{ summary }}</textarea>
          </div>          
        </div>
      </div>
    </div>
    
    <div id="loading" style="display:none">
      <img src="{{ url_for('static', filename='img/loading.gif') }}" alt="Carregando...">
    </div>
    
    <script>
      document.querySelector('button[type="submit"]').addEventListener('click', function() {
        document.getElementById('loading').style.display = 'block';
      });
      
      setTimeout(function() {
        window.location.href = '/resultado'; // redireciona para a página de resultado após 5 segundos
      }, 5000);
    </script>
  </body>
</html>
